---
import GoogleSignInCard from '../components/GoogleSignInCard.astro'
import Layout from '../layouts/Layout.astro'
import { auth, getAllowedEmails } from '../lib/auth'

const session = await auth.api.getSession({
  headers: Astro.request.headers
})
if (session?.user && getAllowedEmails().includes(session.user.email)) {
  return Astro.redirect('/upcoming')
}
---

<Layout>
  <div class="min-h-screen flex items-center justify-center bg-base-200 p-4">
    <GoogleSignInCard />
  </div>
</Layout>
