---
import Layout from '../layouts/Layout.astro'
import GoogleSignInCard from '../components/GoogleSignInCard.astro'
---

<Layout>
  <div class="min-h-screen flex items-center justify-center bg-base-200 p-4">
    <GoogleSignInCard />
  </div>
</Layout>
