---
import PlusIcon from '../assets/icons/plus.svg'
import Reminder from '../components/Reminder.astro'
import DrawerLayout from '../layouts/DrawerLayout.astro'
import { Lunar } from 'lunar-typescript'
import { ZReminderCard } from '../models'
import ReminderModal from '../components/ReminderModal.svelte'
import { lunarToDate } from '../lib/lunar'
import type { SelectReminder } from '../db/schema'

interface Props {
  reminders: SelectReminder[]
}

const { reminders } = Astro.props
const reminderCards = reminders.map((reminder) => {
  if (!reminder.nextAlertDate) {
    return ZReminderCard.parse({
      ...reminder,
      dueIn: 'Expired'
    })
  }

  const nextAlertDateLunar = Lunar.fromDate(reminder.nextAlertDate!)
  const now = new Date()
  now.setHours(0, 0, 0, 0)

  const dueIn = Math.floor(
    (reminder.nextAlertDate!.getTime() - now.getTime()) / 86400000
  ) // Days

  if (dueIn === 0) {
    return ZReminderCard.parse({
      ...reminder,
      nextAlertDateLunar: lunarToDate(nextAlertDateLunar),
      dueIn: 'Today'
    })
  }

  return ZReminderCard.parse({
    ...reminder,
    nextAlertDateLunar: lunarToDate(nextAlertDateLunar),
    dueIn: `${dueIn} day(s)`
  })
})
---

<DrawerLayout>
  {reminderCards?.map((reminder) => <Reminder {reminder} />)}

  <button id="btn-add-reminder" class="btn btn-primary max-w-fit mt-2">
    <PlusIcon width="20" height="20" />
    Add Reminder
  </button>

  <ReminderModal client:load />

  <script>
    const btnAddReminder = document.getElementById('btn-add-reminder')
    if (!btnAddReminder) throw new Error('Cannot find button and modal')

    btnAddReminder.addEventListener('click', () => {
      const event = new CustomEvent('modal-reminder-detail:open')
      document.dispatchEvent(event)
    })
  </script>
</DrawerLayout>
